@*<script src="~/js/angular/SystemManagement/sidebarApp.js"></script>*@
<script src="~/js/angular/serverUrl.js"></script>
<!-- sidebar: style can be found in sidebar.less -->
@model CBD.Model.Sidebar
<section class="sidebar")">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Content/img/user1-128x128.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview" ng-repeat="node in Nodes" ng-include="'nodes_renderer.html'">
        </li>

        <li class="active treeview menu-open">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>System Management</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Page"><i class="fa fa-circle-o"></i> Page</a></li>
                <li><a href="/Unit"><i class="fa fa-circle-o"></i> Unit</a></li>
                <li><a href="/User"><i class="fa fa-circle-o"></i> User</a></li>
                <li><a href="/Group"><i class="fa fa-circle-o"></i> Group</a></li>
                <li><a href="/UnitUser"><i class="fa fa-circle-o"></i> Unit User</a></li>
                <li><a href="/GroupUser"><i class="fa fa-circle-o"></i> Group User</a></li>
                <li><a href="/UnitGroupPage"><i class="fa fa-circle-o"></i> Unit Group Page</a></li>
            </ul>
        </li>
    </ul>
    <script type="text/ng-template" id="nodes_renderer.html">
        <a href="{{node.Nodes.lenght > 0 ? node.URL : '#'}}">
            <i class="{{node.ICON != null && node.ICON != undefined ? node.ICON :'fa fa-tasks'}}"></i> <span>{{node.NAME}}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview" ng-repeat="node in node.Nodes" ng-include="'nodes_renderer.html'"></li>
        </ul>
    </script>
</section>
<!-- /.sidebar -->
